---
import Base from '../layouts/Base.astro';
import Navbar from '../components/nav/Navbar.astro';
import Footer from '../components/nav/Footer.astro';
import Subscribe from '../components/shared/Subscribe.astro';
import LoginModal from '../components/shared/LoginModal.astro';
import SearchOffcanvas from '../components/shared/SearchOffcanvas.astro';
import Preloader from '../components/shared/Preloader.astro';
import { authors, listings6, slistings } from '../lib/data/context';

function slugify(s: string): string {
  return s.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '');
}
---
<Base noindex title="Author Profile - Rhodes Things To Do">
  <Navbar headerClass="header header-transparent dark navdark" logo="/assets/img/logo-light.svg" addListingLight={true} />

  <Preloader />

  <div class="clearfix"></div>

  <!-- Author Start -->
  <section class="bg-light py-5">
    <div class="container">
      <div class="row g-4">

        <div class="col-xl-8 col-lg-8 col-md-12 pt-lg-0 pt-5">
          <div class="authorBoxesGroups d-flex align-items-start flex-column gap-4 w-100">

            <!-- Single Author Box -->
            <div class="singleauthorBox d-block">
              <div class="card">
                <div class="bg-cover card-header py-3 px-4 position-relative" style="background:url(/assets/img/avatar-bg-2.jpg)no-repeat;" data-overlay="4">
                  <div class="position-absolute end-0 top-0 me-3 mt-3 z-1">
                    <a href="#" class="btn btn-sm btn-whites fw-medium rounded-pill"><i class="bi bi-person-check me-2"></i>Follow</a>
                  </div>
                  <div class="avatarBox position-relative z-1 py-5 mt-5">
                    <div class="d-flex align-items-center justify-content-start gap-3">
                      <div class="square--80 circle bg-transparents mx-auto p-1 z-2"><img src="/assets/img/team-4.jpg" class="img-fluid circle" alt="Avatar" /></div>
                      <div class="listingInfo">
                        <h4 class="text-light fs-5 mb-0">Shree K. Patel</h4>
                        <p class="text-md fw-medium text-light mb-0">PRDO Manager</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain.</p>
                  <p class="m-0">These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently.</p>
                </div>
              </div>
            </div>

            <!-- Single Author Box -->
            <div class="singleauthorBox d-block">

              <!-- Listing Shorting -->
              <div class="row align-items-center justify-content-between mb-4">
                <div class="col-xl- 5 col-lg-5 col-md-5 col-sm-6 col-6">
                  <div class="totalListingshow">
                    <h6 class="fw-medium mb-0">106 Listings Founds</h6>
                  </div>
                </div>

                <div class="col-xl- 5 col-lg-5 col-md-5 col-sm-6 col-6">
                  <div class="text-end">
                    <!-- Rating Filter -->
                    <div class="dropdown d-inline-flex p-0">
                      <a href="#" class="py-2 px-3 bg-white dropdown-toggle toogleDrops" id="shortfilter" data-bs-toggle="dropdown" aria-expanded="false">
                        Short Listings
                      </a>
                      <div class="dropdown-menu border shadow-sm">
                        <div class="card rounded-0">

                          <!-- Components/Listings/Grid-Layouts/grid-layout-01/short-listings.html -->
                          {slistings.map((item: any) => (
                            <li><a class={`${item.class} dropdown-item`} href="#">{item.title}</a></li>
                          ))}

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- All Listing -->
              <div class="row align-items-center justify-content-center g-xl-4 g-3">

                <!-- Components/Listings/List-Layouts/list-layout-01/listings8.html -->
                {listings6.map((item: any) => (
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="listingCard listLayouts light card rounded-3 border-0">

                      <div class="row align-items-center justify-content-start g-3">

                        <!-- Property Thumb -->
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                          <div class="listThumb overflow-hidden position-relative">
                            <div class="position-absolute start-0 top-0 ms-3 mt-3"><span class={`badge badge-xs text-uppercase ${item.color} rounded-pill`}>{item.btn}</span></div>

                            {item.tag === 'true' && (
                              <div class="position-absolute end-0 bottom-0 me-3 mb-3"><span class="badge badge-xs featuredList rounded-pill"><i class="fa-solid fa-star me-1"></i>{item.btn1}</span></div>
                            )}

                            <a href="#" class="d-block"><img src={item.img} class="img-fluid list-thumb object-fit" alt="Listing Img" /></a>
                          </div>
                        </div>

                        <!-- Property Info -->
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                          <div class="listCaption px-3 py-4">
                            <div class="listTitle d-block mb-4">
                              <div class="d-flex align-items-start justify-content-between gap-2">
                                <div class="flex-first">
                                  <div class="d-flex align-items-center justify-content-start gap-2 flex-wrap mb-3">
                                    <div class="singleCaption">
                                      <div class="bg-white rounded-pill py-1 ps-1 pe-3">
                                        <div class="d-inline-flex align-items-center justify-content-start gap-2">
                                          <span class="square--25 circle bg-price text-light text-sm"><i class="bi bi-coin lh-1 h-auto"></i></span>
                                          <span class="text-sm fw-medium">{item.price}</span>
                                        </div>
                                      </div>
                                    </div>

                                    {item.tag1 === 'true' && (
                                      <div class="singleCaption">
                                        <div class="bg-white rounded-pill py-1 ps-1 pe-3">
                                          <div class="d-inline-flex align-items-center justify-content-start gap-2">
                                            <span class="square--25 circle bg-booking text-light text-sm"><i class="bi bi-lightning-charge-fill lh-1 h-auto"></i></span>
                                            <span class="text-sm fw-medium">{item.btn2}</span>
                                          </div>
                                        </div>
                                      </div>
                                    )}

                                  </div>
                                  <h5 class="listItemtitle"><a href={`/listing/${(item as any).slug || slugify(item.title)}/`}>{item.title}<span class="verified"><i class="bi bi-patch-check-fill m-0"></i></span></a></h5>
                                  <div class="d-flex align-items-center justify-content-start flex-wrap gap-3">
                                    <div class="flex-start"><div class="list-location text-muted"><span><i class="fa-solid fa-location-dot me-2"></i>{item.location}</span></div></div>
                                    <div class="flex-last">
                                      <div class="d-flex align-items-center justify-content-start">
                                        <i class="fa-solid fa-star text-warning"></i><span class="mx-1 text-dark fw-bold">{item.rating}</span><span class="text-md text-muted">({item.reviews})</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="flex-last">
                                  <a href="#" class="bookmarkList"><i class="fa-regular fa-heart"></i></a>
                                </div>
                              </div>
                            </div>
                            <div class="list-features d-flex align-items-center justify-content-start row-gap-2 column-gap-3 text-dark">
                              <div class="d-flex align-items-center fw-medium">
                                <span class={`${item.span} me-2`}><i class={`${item.icon} text-md`}></i></span>{item.name}
                              </div>
                              <div class="d-flex align-items-center fw-medium">
                                <span class="listCall me-2"><i class="bi bi-telephone"></i></span>{item.number}
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                ))}

              </div>

              <!-- Components/Listings/Grid-Layouts/grid-layout-01/pagination.html -->
              <!-- Pagination Start -->
              <div class="row align-items-center justify-content-center mt-5">
                <div class="col-xl-12 col-lg-12 col-md-12">
                  <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                      <li class="page-item">
                        <a class="page-link"><i class="fa-solid fa-arrow-left"></i></a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item active"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">4</a></li>
                      <li class="page-item"><a class="page-link" href="#">5</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#"><i class="fa-solid fa-arrow-right"></i></a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
              <!-- Pagination END -->

            </div>

          </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12">
          <div class="sidebarGroups d-flex flex-column gap-4">

            <!-- Author Box -->
            <div class="card">
              <div class="card-body p-0">
                <div class="avatarBox my-4">
                  <div class="square--100 circle bg-secondary mx-auto mb-2 p-2"><img src="/assets/img/team-4.jpg" class="img-fluid circle" alt="Avatar" /></div>
                  <div class="listingInfo text-center">
                    <p class="text-md text-muted mb-0">Author</p>
                    <h6 class="mb-0">Shree K. Patel</h6>
                    <div class="authorRatings">
                      <div class="d-flex align-items-center justify-content-center gap-2 mt-1">
                        <div class="d-flex align-items-center justify-content-start gap-1">
                          <i class="bi bi-star-fill text-warning text-sm"></i><i class="bi bi-star-fill text-warning text-sm"></i><i class="bi bi-star-fill text-warning text-sm"></i><i class="bi bi-star-fill text-warning text-sm"></i><i class="bi bi-star-half text-warning text-sm"></i>
                        </div>
                        <span class="text-md text-muted">(42k Reviews)</span>
                      </div>
                    </div>
                  </div>
                  <div class="followButtons d-block mt-4">
                    <div class="d-flex align-items-center justify-content-center gap-3 px-4">
                      <div class="authPlaces text-center flex-fill">
                        <h5 class="mb-0 ctr">22</h5>
                        <p class="text-muted m-0">Active Places</p>
                      </div>
                      <div class="authFollowers text-center flex-fill">
                        <h5 class="mb-0 ctr">435</h5>
                        <p class="text-muted m-0">Followers</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="avatarInfo mb-2">

                  <!-- Components/Listings/Single-Listings/single-listing-01/author.html -->
                  {authors.map((item: any) => (
                    <div class="py-3 px-3 border-top">
                      <div class="infoFlexio d-flex align-items-center justify-content-start gap-2">
                        <div class="square--40 rounded bg-light-primary"><i class={`${item.icon} text-primary`}></i></div>
                        <div class="infoDetails">
                          <p class="text-muted lh-base mb-0">{item.name}</p>
                          <p class="text-dark lh-base fw-medium fs-6 mb-0">{item.title}</p>
                        </div>
                      </div>
                    </div>
                  ))}

                </div>
              </div>
              <div class="card-footer bg-white border-top">
                <div class="d-flex align-items-center justify-content-center gap-3">
                  <div class="flexSocial"><a href="#" class="square--40 circle border"><i class="bi bi-facebook color--facebook"></i></a></div>
                  <div class="flexSocial"><a href="#" class="square--40 circle border"><i class="bi bi-twitter color--twitter"></i></a></div>
                  <div class="flexSocial"><a href="#" class="square--40 circle border"><i class="bi bi-instagram color--instagram"></i></a></div>
                  <div class="flexSocial"><a href="#" class="square--40 circle border"><i class="bi bi-youtube color--pinterest"></i></a></div>
                  <div class="flexSocial"><a href="#" class="square--40 circle border"><i class="bi bi-whatsapp color--whatsapp"></i></a></div>
                </div>
              </div>
            </div>

            <!-- Message Form -->
            <div class="card">
              <div class="card-header py-3">
                <div class="headerFirst"><h6><i class="bi bi-envelope-check-fill me-2"></i>Message To Author</h6></div>
              </div>
              <div class="p-xl-4 p-3">

                <!-- Components/Pages/author-profile/message-form.html -->
                <div class="contactForm position-relative">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your Name" />
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="Your Email" />
                  </div>
                  <div class="form-group">
                    <input type="tel" class="form-control" placeholder="Your Phone" />
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" placeholder="Leave a comment here" style="height: 120px"></textarea>
                  </div>
                  <div class="form-group">
                    <button type="button" class="btn btn-primary rounded-pill fw-medium w-100"><i class="bi bi-send me-2"></i>Send Message</button>
                  </div>
                </div>

              </div>

            </div>
            <!-- Message Form End -->

          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- Author Detail End -->


  <!-- Call To Action Start -->
  <section class="bg-cover bg-primary-2 position-relative py-5" style="background:url(/assets/img/brand-section.png)no-repeat;">
    <div class="container">

      <!-- Components/Home/index/subscribe.html -->
      <Subscribe />

    </div>
  </section>
  <!-- Call To Action Start -->


  <!-- Components/Home/index/log.html -->
  <LoginModal />


  <!-- Components/Home/index/cart.html -->
  <!-- Components/Home/index/search.html -->
  <SearchOffcanvas />


  <Footer />
</Base>
