---
import { SITE, absUrl } from '../lib/data/site';
import Analytics from '../components/shared/Analytics.astro';
import CookieConsent from '../components/shared/CookieConsent.astro';

interface Props {
  title?: string;
  description?: string;
  /** Auth/utility pages should stay out of the index by default. */
  noindex?: boolean;
  htmlClass?: string;
  bodyClass?: string;
}

const {
  title = `${SITE.name}`,
  description = SITE.description,
  noindex = true,
  htmlClass = '',
  bodyClass = '',
} = Astro.props;

const canonicalUrl = absUrl(Astro.url.pathname);
---
<!doctype html>
<html lang="en" class={htmlClass}>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    {noindex && <meta name="robots" content="noindex, follow" />}
    <link rel="canonical" href={canonicalUrl} />
    <title>{title}</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.png" />
    <link href="/assets/css/animation.css" rel="stylesheet" />
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/fontawesome.css" rel="stylesheet" />
    <link href="/assets/css/bootstrap-icons.css" rel="stylesheet" />
    <link href="/assets/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/select2.min.css" media="print" onload="this.media='all'" />
    <link rel="stylesheet" href="/assets/css/dropzone.min.css" media="print" onload="this.media='all'" />

    <!-- Google Analytics (GA4) + Consent Mode -->
    <Analytics />
  </head>
  <body class={bodyClass}>
    <div id="main-wrapper">
      <main>
        <slot />
      </main>
    </div>

    <script src="/assets/js/jquery.min.js" is:inline></script>
    <script src="/assets/js/popper.min.js" is:inline></script>
    <script src="/assets/js/bootstrap.min.js" is:inline></script>
    <script src="/assets/js/dropzone.min.js" is:inline></script>
    <script src="/assets/js/counterup.min.js" is:inline></script>
    <script src="/assets/js/rangeslider.js" is:inline></script>
    <script src="/assets/js/select2.min.js" is:inline></script>
    <script src="/assets/js/owl.carousel.min.js" is:inline></script>
    <script src="/assets/js/rome.js" is:inline></script>
    <script src="/assets/js/jquery.magnific-popup.min.js" is:inline></script>
    <script src="/assets/js/custom.js" is:inline></script>

    <!-- Cookie consent banner -->
    <CookieConsent />
  </body>
</html>
